.navbar {
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    height: 70px;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbarLinks {
    display: flex;
    margin-left: auto;
    
    justify-content: space-around;
    list-style: none;
}
.navbarLinks a {
    font-weight: 325;
    font-family: var(--font-mono);
    color: var(--secondary-color);
}

.navbarLinks {
    padding-left: var(--40px-responsive);
    padding-right: var(--40px-responsive);
}
.navbarLinks a {
    font-size: min(3.25vw, 20px);
    margin-left: var(--20px-responsive);
    margin-right: var(--20px-responsive);
}

.navbar img {
    margin-left: var(--40px-responsive);
}

.sections {
    text-align: center;
}

.subtitle {
    font-family: var(--font-titles);
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    color: var(--accent-color);
}

.text {
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--secondary-color);
}

.aboutText {
    line-height: 1.65;
    margin-top: 5vw;
    margin-left: 15%;
    margin-right: 15%;
}

.home {
    padding-top: 20vw;
}
.mainTitle {
    font-family: var(--font-titles);
    font-size: min(12vw, 140px);
    font-weight: 400;
    line-height: 1.05;
    color: var(--accent-color);
}
.mainSubTitle {
    margin-top: 10px;
    font-family: var(--font-mono);
    font-size: min(4vw, 40px);
    font-weight: 350;
    color: var(--secondary-color);
}

.sectionTitle {
    margin-top: 8vw;
    padding-top: 8vw;
    margin-bottom: 8vw;
}

.individualProject{
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
    margin: 20px 30vw 20px;
    border-radius: 20px;
}

.individualProject:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.mainProjectData{
    display: flex;
    align-items: center;
}

.auxProjectData{
    text-align: left;
    padding: 0.25vw 2vw 1vw;
}

.projectList{
    margin-top: 50px;
}

.projectImg{
    margin: 1vw 2vw 1vw 1vw;
}

.projectMainData {
    text-align: left;
    margin-top: 0.25vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
}
.projectAuxData{
}

.contactButton1{
    width: 35vw;
    height: min(6.5vw, 45px);
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--accent-color);
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.20);
    transition: background-color 0.3s ease-in-out;
}
.contactButton1:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.contactButton2{
    width: 35vw;
    height: min(6.5vw, 45px);
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--accent-color);
    background-color: rgba(100, 100, 100, 0.50);
    border-radius: 15px;
    border: none;
    outline: none;
}
.contactData {
    margin-top: 5vw;
    margin-bottom: 2vw;
}
.contactData p {
    line-height: 1.65;
    margin-left: 10%;
    margin-right: 10%;
}
.contactData input{
    text-align: left;
    padding-left: 2vw;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    width: min(40vw, 425px);
    height: min(4.75vw, 35px);
    border: none;
    outline: none;
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--accent-color);
}

.contactData input::placeholder{
    color: var(--secondary-color);
}
.contactData textarea::placeholder{
    color: var(--secondary-color);
}
.contactData textarea
{
    margin-top: 2vw;
    background-color: rgba(0, 0, 0, 0.20);
    width: 80%;
    height: 400px;
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    border-radius: 10px;
    padding: 1.6vw;
    margin-left: 10%;
    margin-right: 10%;
}

.stack{
    display: flex;
    align-items: center;
    padding: 2vw;
}