.navbar {
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    height: 70px;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarLinks {
    display: flex;
    margin-left: auto;

    justify-content: space-around;
    list-style: none;
}

.navbarLinks a {
    font-weight: 325;
    font-family: var(--font-mono);
    color: var(--secondary-color);
}

.navbarLinks {
    padding-left: var(--40px-responsive);
    padding-right: var(--40px-responsive);
}

.navbarLinks a {
    font-size: min(3.25vw, 20px);
    margin-left: var(--20px-responsive);
    margin-right: var(--20px-responsive);
}

.navbar img {
    margin-left: var(--40px-responsive);
}

.sections {
    text-align: center;
}

.subtitle {
    font-family: var(--font-titles);
    font-size: var(--subtitle-font-size);
    font-weight: 400;
    color: var(--accent-color);
}

.text {
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--secondary-color);
}

.aboutText {
    line-height: 1.65;
    margin-top: 5vw;
    margin-left: 15%;
    margin-right: 15%;
}

.home {
    padding-top: 20vw;
}

.mainTitle {
    font-family: var(--font-titles);
    font-size: min(12vw, 140px);
    font-weight: 400;
    line-height: 1.05;
    color: var(--accent-color);
}

.mainSubTitle {
    margin-top: 10px;
    font-family: var(--font-mono);
    font-size: min(4vw, 40px);
    font-weight: 350;
    color: var(--secondary-color);
}

.background {
    padding-bottom: 200px;
}

.sectionTitle {
    margin-top: 50px;
    padding-top: 100px;
}

.thanksContactText {
    margin-top: 100px;
    margin-bottom: 400px;
}

.individualProject {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: min(75vw, 700px);
    margin: 40px auto;
    border-radius: 20px;
    transition: scale 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.individualProject:hover {
    scale: 1.05;
    background-color: rgba(0, 0, 0, 0.4);
    transition: scale 0.1s ease-in-out, background-color 0.2s ease-in-out
}

.mainProjectData {
    display: flex;
}

.auxProject {
    text-align: left;
    padding: 0.25vw 2vw 1vw;
}

.projectList {
    margin-top: 50px;
}

.projectImg {
    margin: 1vw 3vw 1vw 1vw;
}

.projectMainData {
    text-align: left;
    margin-bottom: 1vw;
}

.projectTitle {
    font-weight: 500;
    color: var(--accent-color);
}

.projectDescription {
    margin-top: 5px;
    color: var(--secondary-color);
    font-size: min(2.5vw, 20px);
}

.projectAuxData {
    text-align: left;
    padding: 10px 2vw;
}

.projectTechStackSubtitle {
    margin-top: 30px;
    text-align: center;
    color: var(--accent-color);
    font-size: min(2.25vw, 18px);
}

.projectClickPrompt {
    margin-top: 10px;
    font-family: var(--font-mono);
    font-size: min(2.25vw, 18px);
    font-weight: 300;
    font-style: italic;
    color: rgb(150, 150, 150);
}

.techStackList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.techStackItem {
    display: flex;
    padding-top: 4px;
    align-items: center;
    margin: 5px 5px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.techStackItem a {
    margin: auto;
}

.techStackImage {
    /*border-radius: 50%;*/
}

.contactButton1 {
    width: 35vw;
    height: min(6.5vw, 45px);
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--accent-color);
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.20);
    transition: background-color 0.3s ease-in-out;
}

.contactButton1:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.contactButton2 {
    width: 35vw;
    height: min(6.5vw, 45px);
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--accent-color);
    background-color: rgba(100, 100, 100, 0.50);
    border-radius: 15px;
    border: none;
    outline: none;
}

.contactData {
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.contactData p {
    line-height: 1.65;
    margin-left: 10%;
    margin-right: 10%;
}

.contactData input {
    text-align: left;
    padding-left: 2vw;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    width: min(40vw, 425px);
    height: min(4.75vw, 35px);
    border: none;
    outline: none;
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    font-weight: 350;
    color: var(--accent-color);
}

.contactData input::placeholder {
    color: var(--secondary-color);
}

.contactData textarea::placeholder {
    color: var(--secondary-color);
}

.contactData textarea {
    margin-top: 2vw;
    background-color: rgba(0, 0, 0, 0.20);
    width: 80%;
    height: 400px;
    font-family: var(--font-mono);
    font-size: var(--small-font-size);
    color: var(--accent-color);
    font-weight: 350;
    border-radius: 10px;
    padding: 1.6vw;
    margin-left: 10%;
    margin-right: 10%;
}

.stack {
    display: flex;
    align-items: center;
    padding: 2vw;
}